<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles are being pulled in from mailer.scss through premailer-rails gem*/
      body {
        padding: 0;
        background-color: #f7f7f7;
        text-align: center;
      }

      .email-table {
        width: 538px;
        padding: 20px;
        background-color: #fff;
        margin: 40px auto;
        text-align: left;
        font-family: 'Helvetica Neue';
      }

      h1 {
        font-size: 20px;
      }

      p {
        margin-top: 0;
        font-size: 15px;
      }
    </style>
  </head>
  <body>
    <table class="email-table">
      <tbody>
        <tr class="header-row">
          <td>
            <h1>Hi <%= @resource.email %>!</h1>
          </td>
        </tr>
        <tr class="body-row">
          <td>
            <p>Hi <%= @resource.first_name %>,</p>
            <p>Please reset your password using this link: <a href="<%= ENV['CLIENT_URL'] %>/reset?token=<%= @resource.reset_password_token %>">Change my password</a></p>
            <p>Your password won't change until you access the link above and create a new one.</p>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
